/.phpunit.cache
/coverage
/build
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

_ide_helper.php
_ide_helper_models.php
.DS_Store
.phpstorm.meta.php
.project
composer.phar
coverage.xml
docker-compose.override.yml
error.log
output.txt
Thumbs.db
.env.ecommerce-branch

# TODO: ignore all public/vendor folder
/public/vendor/horizon
/public/vendor/queue-monitor

# tinkerwell generated
/.phpactor.json

/public/css/*
/public/js/*

*.sql
