includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    tmpDir: build/phpstan

    stubFiles:
        - phpstan-stubs/Permission.stub
        - phpstan-stubs/PermissionRegistrar.stub
        - phpstan-stubs/Tenancy.stub

    paths:
        - app
        - config
        - database
        - domain

    # The level 9 is the highest level
    level: 8

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

